<!DOCTYPE html>
<html>
  <head>
    <title>TWITWRANGLER!</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="directives/tweet.js"></script>
  </head>
  <body ng-app="TwitWrangler">
    <nav class="navbar navbar-default">
      <div class="container">
        <a class="navbar-brand" href="#">TWITWRANGLER<span class="ex">!</span></a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse navHeaderCollapse">
          <ul class="nav nav-pills navbar-right">
            <li ng-class="{active: currentPage == 'about'}"><a ng-href="#/about">About</a></li>
            <li ng-class="{active: currentPage == 'contact'}"><a ng-href="#/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="top" ng-controller="GetTweetsController">
      <form name="findTweetsForm"  ng-submit="getTweets(search.handle)">
        <h4>Find by Twitter Handle: </h4>
        <input type="text" placeholder="enter handle" ng-model="search.handle"/>
        <button type="submit">Search</button>
      </form>
      
      <tweet the-tweet="tweet" ng-repeat="tweet in tweets"></tweet>

    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>