* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.top {
  text-align: center;
  padding-top: 30px;
}

a:hover {
  text-decoration: none;
  color: #5D5E5E;
}

img {
  /*float: left;*/
  height: 70px;
  width: 70px; 
}

.navbar-default {
  height: 70px;
  background-color: rgba(51, 51, 51, 0.9);
}

.navbar-brand {
  font-size: 108px;
  padding-top: 23px;
  color: #777;
}

.navbar-right {
  padding-top: 14px;
}

.ex {
  color: magenta;
  /*transform: rotate(90deg);
  -webkit-transform: rotate(90deg);*/
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(720deg);
  }
}
.ex:hover
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  once;
    -webkit-transition-timing-function: linear;
    }

a {
  color: #a8a8a8;
}

table, th, td {
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
.tweet-text {
  width: 800px;
}